@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.playfair-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.navbar-link {
  text-decoration: none;
  color: #ffffff;
  text-transform: none;
  font-size: 20px;
  margin: 0px 16px;
  padding: 6px 4px;

  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.navbar-link:hover {
  color: #cbfad2;
}

.mobile-view-buttons {
  text-decoration: none;
  padding: 10px 0px 4px 10px;
  width: 100%;
  color: #60712f;
  font-weight: bold;
}

.about-us-wrapper-wrapper {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
}
.about-us-wrapper-img {
  flex: 1;
}
.about-us-wrapper-txt {
  flex: 2;
  text-align: justify;
  padding-left: 60px;
}

@media only screen and (max-width: 900px) {
  .about-us-wrapper-wrapper {
    flex-direction: column;
  }
  .about-us-wrapper-txt {
    padding-left: 0px;
  }
  .about-us-wrapper-txt {
    text-align: left;
  }
}

.home-title-wrapper {
  display: flex;
  padding-top: 60px;
  max-width: 1200px;
  justify-content: space-around;
  flex-direction: row;
}

.home-title-box {
  background-color: #60712f;
  flex: 1;
  margin: 1rem;
  height: 400px;
  color: #cbfad2;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding-top: 10px;
  border-radius: 18px;
  transition-duration: 300ms;
}
.home-title-box:hover {
  opacity: 0.9;
  scale: 1.03;
}

@media only screen and (max-width: 900px) {
  .home-title-wrapper {
    flex-direction: column;
    height: 500px;
  }
}
