@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.playfair-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.navbar-link {
  text-decoration: none;
  color: #ffffff;
  text-transform: none;
  font-size: 20px;
  margin: 0px 16px;
  padding: 6px 4px;

  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.navbar-link:hover {
  color: #cbfad2;
}

.mobile-view-buttons {
  text-decoration: none;
  padding: 10px 0px 4px 10px;
  width: 100%;
  color: #87986a;
  font-weight: bold;
}
